@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  @apply bg-zinc-100 text-zinc-900;
}

[data-theme='dark'] body {
  @apply bg-zinc-950 text-zinc-50;
}

#app {
  min-height: 100dvh;
}

